html,
body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

.canva {
  flex-grow: 1;
}

.user-interface {
  padding: 8px;
}

.error-message {
  padding-left: 8px;
  color: red;
}